<!DOCTYPE html>
<head>
  <input style = "display:none" type = "text" value = "<%= error %>" id ="err"/>
  <% if(error!=null) { %>
  <script>
    var e = document.getElementById("err").value;
    alert( e );
  </script>
  <% } %>
<title>Add Task</title>
<!-- CSS Files-->
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="addtask_form.css">
</head>
<body>
<!-- HEADER -->
<div class="row">
	<div class="header" style = "margin-left:30px">Add task</div>
</div>

<div>
    <form action="/addtask" method="post">
        <div class="row">
          <div class="col1">
            <label for="name">Task Name</label>
          </div>
          <div class="col2">
            <input type="text" id="name" name="name" placeholder="Task name..">
          </div>
        </div>
        <div class="row">
          <div class="col1">
            <label for="description">Description</label>
          </div>
          <div class="col2">
            <input type="text" id="description" name="description" placeholder="Task description..">
          </div>
        </div>
        <div class="row">
            <div class="col1">
              <label for="time">Estimated time (in hours)</label>
            </div>
            <div class="col2">
              <input type="number" id="time" name="time" placeholder="Estimated hours for task.." min ="1">
            </div>
          </div>
          <div class="row">
            <div class="col1">
              <label for="nrofpersons">Number of persons (between 1 and 3)</label>
            </div>
            <div class="col2">
              <input type="range" id="nrofpersons" name="nrofpersons" min = "1" max = "3" value = "1">
            </div>
          </div>
          <div class="row">
            <div class="col1">
              <label for="attach">Attachment link</label>
            </div>
            <div class="col2">
              <input type="text" id="file" name="file" >
            </div>
          </div>
          <% if(user.cod_rol == 2) { %>
            <div class="row">
              <div class="col1">
                <label for="department">Department</label>
              </div>
              <div class="col2">
              <input list="department_list" name="department" id="department"/>
                <datalist id="department_list">
                  <option value="Human Resources"> </option>
                  <option value="Design"> </option>
                  <option value="Public Relations"> </option>
                  <option value="IT"> </option>
                  <option value="Fundraising"> </option>
                </datalist>
              </div>
            </div>
          <% } %>
          <input type="submit" value="Save">
    </form>
</div>

</body>
</html>