<!DOCTYPE html>
<head>
  <input style = "display:none" type = "text" value = "<%= error %>" id ="err"/>
  <% if(error!=null) { %>
  <script>
    var e = document.getElementById("err").value;
    alert( e );
  </script>
  <% } %>
<title>Change password</title>
<!-- CSS Files-->
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="addtask_form.css">
</head>
<body>
<!-- HEADER -->
<div class="row">
	<div class="header" style = "margin-left:30px">Change Password</div>
</div>

<div>
    <form action = "/changepassword" method = "post">
        <% if(user.cod_rol == 0) { %>
        <div class="row">
          <div class="col1">
            <label for="old">Old Password</label>
          </div>
          <div class="col2">
            <input type="password" id="old" name="old" placeholder="Your old password..">
          </div>
        </div>
        <% } %>
        <div class="row">
          <div class="col1">
            <label for="new1">New password</label>
          </div>
          <div class="col2">
            <input type="password" id="new1" name="new1" placeholder="The new password..">
          </div>
        </div>
        <div class="row">
            <div class="col1">
              <label for="password">Reintroduce the new password</label>
            </div>
            <div class="col2">
              <input type="password" id="new2" name="new2" placeholder="The new password..">
            </div>
        </div>
        <input type="submit" value="Save">
    </form>
</div>

</body>
</html>