<!DOCTYPE html>
<head>
<title>Home</title>
<!-- CSS Files-->
<link rel="stylesheet" href="resources/style.css">
</head>
<body>
<!-- HEADER -->
<div class="row">
	<div class="headerlogo four columns">
		<div class="logo">
			<a href="home.html">
			<h4>Nume Prenume</h4>
			</a>
		</div>
	</div>
	
</div>
<div class="clear">
</div>
<!-- CONTENT -->
<div class="row">
    <!-- MAIN CONTENT-->
	<div class="eight columns">
		<!-- Accordion-->
		<dl class="tabs">
			<dd class="active"><a href="#simple1">Available Tasks</a></dd>
			<dd><a href="#simple2">Completed Tasks</a></dd>
			<dd><a href="#simple3">Department Colleagues</a></dd>
			<dd><a href="#simple4">Search</a></dd>
		</dl>
	</div><!-- end main content-->

	
<div class="hr">
</div>

<!-- FOOOTER -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
		<h1>ABOUT US</h1>
	</div>
	<div class="four columns">

	</div>
	<div class="four columns">
		
	</div>
	</footer>
</div>
</body>
</html>