<!DOCTYPE html>
<head>
	<input style = "display:none" type = "text" value = "<%= error %>" id ="err"/>
  <% if(error!=null) { %>
  <script>
    var e = document.getElementById("err").value;
    alert( e );
  </script>
  <% } %>
<title>Home</title>
<!-- CSS Files-->
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="addtask_form.css">

</head>
<body style = "background-image: url('img.png'); background-size: 25%">
<!-- HEADER -->
<div style="background-color:#fff; box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.2);">
<div class="row" style="width:100%;margin-left:300px">
	<div class = "col1"> 
	<div class="headername">
			<h4><%=userdata.prenume %> <%=userdata.nume %></h4>
	</div>
	</div>
	<div class = "col2" style = "transform: translateX(30%);"> 
		<form action="/home" method="post">
			<button class = "btn-menu" >Log Out</button>
		</form>
	</div>
	
</div>

<div class="hr">
</div>
<div class="row">
	<div class="center" style="transform:translate(15%,-40%)">

		<a class = "btn-menu" href = "/availabletasks" target = "selection">Available Tasks</a>
		
		<a class = "btn-menu" href = "/mytasks" target = "selection">My Tasks</a>
		
		<% if(userdata.cod_rol !=0 ) { %>
			<a class = "btn-menu" href = "/addtask" target = "selection">Add Task</a>
		<% } %>
		<% if(userdata.cod_rol ==0 ) { %>
			<a class = "btn-menu" href = "/colleagues" target = "selection">Department Colleagues</a>
		<% } %>
		<% if(userdata.cod_rol !=0 ) { %>
			<a class = "btn-menu" href = "/colleagues" target = "selection">Volunteers</a>
		<% } %>
		<% if(userdata.cod_rol !=0 ) { %>
			<a class = "btn-menu" href = "/alltasks" target = "selection">All Tasks</a>
		<% } %>
	</div>
 </div>
 </div>
</div>
<div>
<div class="row" style = "background:rgb(247, 255, 253)">	
	<iframe style="width:100%; height:600px;overflow:auto;" name = "selection" src = "availabletasks">
	</iframe>
</div>

<!-- FOOOTER -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
		<h1>ABOUT US</h1>
	</div>
	<div class="four columns">

	</div>
	<div class="four columns">
		
	</div>
	</footer>
</div>
</div>
</body>
</html>