<!DOCTYPE html>
<head>
  <title>my tasks</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class = "row">
  <% if(data.length){ %>
    <table class="table" style = "width:100%;border-bottom: 1px solid #ddd">
      <thead style = "font-family: Helvetica Neue;font-size: 25px; height:100px">
        <tr>
          <th scope="col" style="width:33%">Task</th>
          <th scope="col" style="width:33%">Status</th>
          <th scope="col" style="width:33%">Hours</th>
       
        </tr>
      </thead>
    </table>
    <% for(var i = 0; i< data.length; i++) { %>  
      <div>
        <form action = '/mytasks' method = "post"><button class = "btn-menu" style="width:100%" value = <%= data[i].task_id%> name = "ID"><table style="width:100%"><tr><td style="width:33%"><%= data[i].denumire%></td> <td style="width:33%"><%= data[i].status %></td> <td style="width:33%"><%= data[i].timp %></td></tr></table></button></form>
      </div>
    <% }
              
    }else{ %>
      <div style = "margin:40px;font-size:25px">No assigned tasks</div>
    <% } %>     
</div>
</body>
</html>