html { 
    font-size: 62.5% 
}
body { 
    font-family: "Helvetica Neue"; 
    font-size: 13px; 
    line-height: 20px; 
    color: #666; 
    position: relative; 
    -webkit-font-smoothing: antialiased; 
}

.headername {
    color: #2ba6cb; 
    text-decoration: none; 
    line-height: inherit; 
    font-size: 30px;
}
/* Links ---------------------- */

a {
    color: inherit;
    text-decoration: inherit;
  }

ul { font-size: 14px; line-height: 1.6; margin-bottom: 17px; list-style-position: inside; }

/* Base Type Styles Using Modular Scale ---------------------- */
body,div { 
    margin: 0; 
    padding: 0; 
    font-size: 13px; 
    direction: ltr; 
}
p { 
    font-size: 13px; 
    line-height: 1.6; 
    margin-bottom: 15px;
 }

hr { 
    border: solid #ddd; 
    border-width: 1px 0 0; 
    clear: both; 
    margin: 22px 0 21px; 
    height: 0; 
}

/* The Grid ---------------------- */
.row { 
    width: 980px;  
    min-width: 768px; 
    max-width: 100%; 
    margin: 0 auto; 
}

.btn-menu {
  padding: 15px 30px;
  border: none;
  bottom: 6px;
  background-color: inherit;
  font-family: Helvetica Neue;
  font-size: 20px
}

.btn-menu:active {
  color: #ffffff;
  background-color: #0f3c49;
}

.btn-menu:hover {
  color: #ffffff;
  background-color: #2ba6cb;
}

.hr { 
    height: 36px 
}

#footer { 
    border-top:#55a2a6 4px solid; 
    background: #151515; 
    color: #666; 
    padding: 30px 0; 
    margin-top: 36px; 
    margin-left:0px
}
#footer a { 
    color: #666; 
    font-size: 12px; 
}
#footer h1 { 
    font-size: 16px; 
    color: #ccc; 
    margin-bottom: 20px;
    margin-left: 20px; 
}
.colorbackground {
    background:#55a2a6;
}

